@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.history {
  /* margin-left: 3rem; */
  margin: auto;
  margin-top: 5rem;
  width: 90%;
  padding: 5%;
}

.logo {
  height: 50px;
  width: 50px;
  background-image: url('../public/BTLogo.png');
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 15%;
  margin-right: 10px;
}

.PieChart {
  margin: auto;
  width: 50%;
  padding: 5%;
}
.historyContainer {
  margin: auto;
  width: 90%;
}
